/*     Keyframes loader      */
@keyframes hiddenPage {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loaderBackground {
  0% {
    background-color: #F2F2F2;
  }
  50% {
    background-color: #F2F2F2;
  }
  90% {
    background-color: #F2F2F2;
  }
  100% {
    background-color: white;
  }
}
/*     fin des Keyframes loader      */
/*-----Structure de la page -----*/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #F2F2F2;
  animation: loaderBackground 3s forwards;
  /*----- Loader -----*/
}
body h2, body h3 {
  font-family: "Roboto", sans-serif;
  color: black;
}
body p {
  font-family: "Roboto", sans-serif;
}
body .loader .spinner {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45%;
  left: 45%;
  animation: loader 3s forwards;
}
body .loader .spinner::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356DC transparent #9356DC transparent;
  animation: spinner 1.5s linear infinite;
}

/*----- header -----*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: -10px;
  animation: hiddenPage 3s forwards;
}
header img {
  height: 40px;
}

/*----- Main -----*/
main {
  animation: hiddenPage 3s forwards;
}

/*----- Emplacement + bouton -----*/
.block1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
  height: auto;
}
.block1 .emplacement {
  box-shadow: rgba(0, 0, 0, 0.265) 0px -2px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  text-align: center;
}
.block1 .emplacement p {
  margin-left: 15px;
}
.block1 .block_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 81%;
  height: auto;
  margin: auto;
  text-align: center;
}
.block1 .block_button h1 {
  margin-top: 40px;
  width: 100%;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: -10px;
  font-family: "Roboto", sans-serif;
}
.block1 .block_button p {
  width: 100%;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}
.block1 .block_button button {
  border: hidden;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  color: white;
  margin-bottom: 70px;
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%, #99e2d0 100%);
  box-shadow: rgba(0, 0, 0, 0.136) 0px 5px 10px;
  padding: 15px;
}
.block1 .block_button button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 10px;
}

/*----- Fonctionnement -----*/
.fonctionnement {
  width: auto;
  height: 460px;
}
.fonctionnement h2 {
  width: auto;
  margin-left: 15px;
}
.fonctionnement .block_fonctionnement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-bottom: 50px;
}
.fonctionnement .block_fonctionnement .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.136) 0px 5px 10px;
  margin: 0;
  margin-bottom: 20px;
  color: black;
}
.fonctionnement .block_fonctionnement .flex #logo {
  margin-left: 23px;
}
.fonctionnement .block_fonctionnement .flex .fas {
  color: gray;
  margin-right: 50px;
}
.fonctionnement .block_fonctionnement .flex .fonctionnement_texte {
  font-weight: bold;
  width: 100%;
  margin-right: 180px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.fonctionnement .block_fonctionnement .flex:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.fonctionnement .block_fonctionnement .flex:hover i {
  color: #9356DC;
}
.fonctionnement .block_fonctionnement .flex .numero {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  background-color: #9356DC;
  color: white;
  margin-left: -14px;
  margin-right: 20px;
  padding: 9px;
}
.fonctionnement .block_fonctionnement .flex div i {
  margin-left: 20px;
}

/*----- Block restaurants -----*/
.block_restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
  border-bottom: solid 60px #F2F2F2;
}
.block_restaurant h2 {
  margin-left: 20px;
  margin-top: 40px;
}
.block_restaurant .Restaurants {
  margin: auto;
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.136) 0px 5px 10px;
}
.block_restaurant .Restaurants:hover {
  filter: brightness(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 10px;
}
.block_restaurant .Restaurants p {
  color: black;
}
.block_restaurant .Restaurants .images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 350px;
}
.block_restaurant .Restaurants .images img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
  object-fit: cover;
}
.block_restaurant .Restaurants .images #i1 {
  background-image: url(../images/restaurants/1.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.block_restaurant .Restaurants .images #i2 {
  background-image: url(../images/restaurants/2.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.block_restaurant .Restaurants .images .new {
  margin-top: 15px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75px;
  height: 8%;
  background-color: #99E2D0;
  padding: 3px;
  font-weight: bold;
  font-size: 14px;
}
.block_restaurant .Restaurants .block_titre_restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 3px;
}
.block_restaurant .Restaurants .block_titre_restaurant div {
  margin-top: -6px;
}
.block_restaurant .Restaurants .block_titre_restaurant .titre_restaurant {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: -15px;
}
.block_restaurant .Restaurants .block_titre_restaurant .texte_restaurant {
  margin-left: 10px;
  font-size: 17px;
}
.block_restaurant .Restaurants .block_titre_restaurant .logo_coeur {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-right: -10px;
  transition: all 0.2s;
}
.block_restaurant .Restaurants .block_titre_restaurant .logo_coeur:hover .far {
  font-size: 26px;
  background: #99e2d0;
  background: linear-gradient(0deg, #99e2d0 0%, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block_restaurant .Restaurants .block_titre_restaurant .logo_coeur:hover .fa:hover {
  line-height: 100%;
  opacity: 1;
}
.block_restaurant .Restaurants .block_titre_restaurant .logo_coeur .far {
  color: black;
  transition: opacity 500ms;
  opacity: 1;
  font-size: 25px;
  opacity: 1;
  -webkit-background-clip: text;
  z-index: 0;
}
.block_restaurant .Restaurants .block_titre_restaurant .logo_coeur .fa {
  transition: line-height 1s 1ms;
  opacity: 1;
  margin-left: -25px;
  font-size: 24px;
  display: block;
  background: #99e2d0;
  background: linear-gradient(0deg, #99e2d0 0%, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0%;
  z-index: 1;
}
.block_restaurant .Restaurants .block_titre_restaurant .logo_coeur i {
  font-size: 25px;
  opacity: 1;
}

/*----- Tablette -----*/
@media (min-width: 768px) {
  .fonctionnement {
    display: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .fonctionnement .block_fonctionnement {
    flex-wrap: wrap;
  }
  .fonctionnement .block_fonctionnement .flex {
    margin-left: 1px;
    width: 80%;
    justify-content: space-between;
  }
  .fonctionnement .block_fonctionnement .flex .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    background-color: #9356DC;
    color: white;
    margin-left: -16px;
    margin-right: 20px;
    padding: 11px;
  }
  .fonctionnement .block_fonctionnement .flex div i {
    margin-left: 2px;
  }

  .block_restaurant .Restaurants .images {
    height: auto;
    max-height: 400px;
  }
  .block_restaurant .Restaurants .images .new {
    height: 6%;
  }
  .block_restaurant .Restaurants .images #i1 {
    height: 320px;
    max-height: 400px;
  }
  .block_restaurant .Restaurants .images #i2 {
    height: 320px;
    max-height: 400px;
  }
  .block_restaurant .Restaurants .images img {
    height: 320px;
    max-height: 400px;
  }
}
/* ------ desktop-version -----*/
@media (min-width: 992px) {
  /*-----Structure de la page -----*/
  body {
    width: 100%;
    max-width: 992px;
    margin: auto;
  }
  body .structure {
    display: flex;
    flex-direction: column;
  }
  body h2, body h3 {
    font-family: "Shrikhand", cursive;
    color: black;
  }
  body p {
    font-family: "Roboto", sans-serif;
  }

  /*----- header -----*/
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  header img {
    height: 50px;
  }

  /*----- Emplacement + bouton -----*/
  .block1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background-color: #F2F2F2;
  }
  .block1 .emplacement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
  }
  .block1 .emplacement p {
    margin-left: 15px;
  }
  .block1 .block_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 109%;
    margin: auto;
  }
  .block1 .block_button .titre_principale {
    font-family: "Roboto", sans-serif;
  }
  .block1 .block_button .button {
    border: hidden;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    color: white;
    background: #9356dc;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%, #99e2d0 100%);
  }

  /*----- Fonctionnement -----*/
  .fonctionnement {
    width: 99%;
    margin-left: 15px;
    height: auto;
  }
  .fonctionnement .block_fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 96%;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  .fonctionnement .block_fonctionnement .flex {
    width: 30%;
    flex-wrap: nowrap;
    margin-right: 20px;
  }
  .fonctionnement .block_fonctionnement .flex .fas {
    margin-right: 40px;
  }
  .fonctionnement .block_fonctionnement .flex #logo {
    margin-left: inherit;
  }
  .fonctionnement .block_fonctionnement .flex h4 {
    width: 100%;
    margin-left: -15px;
  }
  .fonctionnement .block_fonctionnement .flex .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    background-color: #9356DC;
    color: white;
    margin-left: -16px;
    margin-right: 20px;
    padding: 10px;
  }
  .fonctionnement .block_fonctionnement .flex div i {
    margin-left: 2px;
  }

  /*----- Block restaurants -----*/
  .block_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: auto;
    height: 750px;
  }
  .block_restaurant h2 {
    height: 25px;
    width: 100%;
    margin-left: 50px;
  }
  .block_restaurant .Restaurants {
    width: 420px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
  }
  .block_restaurant .Restaurants .images {
    z-index: 2;
    width: 100%;
    height: 200px;
  }
  .block_restaurant .Restaurants .images #i1 {
    background-image: url(../images/restaurants/1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .block_restaurant .Restaurants .images #i2 {
    background-image: url(../images/restaurants/2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .block_restaurant .Restaurants .images .new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    background-color: #99E2D0;
    margin-right: 20px;
  }
  .block_restaurant .Restaurants .images img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }
  .block_restaurant .Restaurants .block_titre_restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .block_restaurant .Restaurants .block_titre_restaurant .titre_restaurant {
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: -20px;
  }
  .block_restaurant .Restaurants .block_titre_restaurant .texte_restaurant {
    margin-left: 10px;
    margin-bottom: 35px;
  }
  .block_restaurant .Restaurants .block_titre_restaurant .logo_coeur {
    margin-bottom: 15px;
    margin-right: -10px;
  }
  .block_restaurant .Restaurants .block_titre_restaurant .logo_coeur i {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
