$violet:#9356DC;
$rose:#FF79DA;
$vert:#99E2D0;


$color_button:rgb(147,86,220);
$gradient:linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%, rgba(153,226,208,1) 100%);


$color_heart: rgb(153,226,208);
$gradient_heart: linear-gradient(0deg, rgba(153,226,208,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);


body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    h1{
        font-family: 'Shrikhand', cursive;
    }

    h4,h5,p{
        font-family: 'Roboto', sans-serif;
    }
}


header{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 15px;

    .fas{
        color:black;
    }

    .omf_img{
        display: flex;
        justify-content: flex-end;
        width:65%;
        pointer-events: none;
    }
    
    img{
        height: 35px;
        margin-left: 110px;
        margin-top: 0px;
    }

    i{
        margin-left: 15px;
        font-size: 23px;
        margin-top: 5px;
    }
}

.menu_image{
    width: 100%;
    height: 260px;
    margin-bottom: -40px;
    

    img{
        height: 100%;
        width: 100%;
        margin-bottom: -30px;
        object-fit: cover;
    }
}

.block_menu{
    width: auto;
    background-color: #F2F2F2;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    .titre_principale{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        font-size: 17px;
        white-space: nowrap;

        h1{
            font-size: 25px;
            margin-left: 5px;
        }

        .logo_coeur{
            width: 100px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            transition: all .2s;
            &:hover{
                .far{
                    font-size: 25px;
                    background: #{$color_heart};
                    background: #{$gradient_heart};
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                   
                }

                .fa{
                    &:hover{
                        line-height: 90%;
                        opacity: 1;
                    }
                }
               
            }

            .far {
                transition: opacity 500ms;
                opacity: 1;
                font-size: 25px;
                opacity: 1;
                -webkit-background-clip: text;
                z-index: 0;

               
            }

            .fa {
                transition: line-height 1s 1ms;
                opacity: 1;
                margin-left: -25px;
                font-size: 24px;
                display: block;
                background: #{$color_heart};
                background: #{$gradient_heart};
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 0%;
                z-index: 1;

                
            }

           

            i{
                font-size: 25px;
                opacity: 1;

              
            }
        }
    
    }

    .blocks{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        
        .sous_titre{
            display: flex;
            margin: auto;
            justify-content: flex-start;
            width: 95%;
            margin-top: 3px;
            margin-bottom: 10px;
            margin-left: 15px;

            p{
                height: 22px;
                margin-bottom: 10px;
                border-bottom:solid 3px $vert;
            }

            h2{
                font-size: 17px;
                height: 22px;
                margin-bottom: 10px;
                border-bottom:solid 3px $vert;
                font-weight: lighter;
            }
        }

        .b1{
            transition:  0s;
            animation: progressive_spawn 500ms .5s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b2{
            transition:  0ms;
            animation: progressive_spawn 500ms .7s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b3{
            transition:  0ms;
            animation: progressive_spawn 500ms .9s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b4{
            transition:  0ms;
            animation: progressive_spawn 500ms 1.1s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b5{
            transition:  0ms;
            animation: progressive_spawn 500ms 1.3s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b6{
            transition:  0ms;
            animation: progressive_spawn 500ms 1.5s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b7{
            transition:  0ms;
            animation: progressive_spawn 500ms 1.7s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b8{
            transition:  0ms;
            animation: progressive_spawn 1s 1.9s forwards;
            
            @keyframes progressive_spawn {
                from {
                    opacity: 0;
                    
                }

                to{
                    opacity: 1;
                }   
            }
        }

        .b9{
            transition:  0ms;
            animation: progressive_spawn 500ms 2.1s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

        .b10{
            transition:  0ms;
            animation: progressive_spawn 500ms 2.3s forwards;
            
            @keyframes progressive_spawn {
                0% {
                    opacity: 0;
                    margin-top:5px;
                    margin-bottom: 15px;
                    
                }

                50%{
                    opacity: 1;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }

                100%{
                    opacity: 1;
                    margin-top: 0px;
                    margin-bottom: 20px;

                }  
            }
        }

       
        
        .block{
            display: flex;
            justify-content: space-around;
            width: 90%;
            margin-bottom: 15px;
            border-radius: 15px;
            height: 60px;
            background-color: white;
            opacity: 0;
            overflow: hidden;
            margin-top: 0px;

            box-shadow: rgba(0, 0, 0, 0.136) 0px 5px 10px;

            &:hover{
                filter: brightness(1.05);
                box-shadow: rgba(0, 0, 0, 0.200) 3px 5px 10px;

                .animation{

                    width: 15%;
                }
                
                .animation i{
                    opacity: 1;
                    animation: rotate 1s;
                    @keyframes rotate {
                        from{
                        transform: rotate(0deg);
                        }

                        to{
                        transform: rotate(360deg);
                        }
                    }
                }
                
            }

            .animation{
                transition: width 1s;
                width: 0%;
                height: 100%;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                background-color: #99E2D0;
                overflow: hidden;
                margin-left:10px ;
    
                
            
                i{
                    color: white;
                    opacity: 1;
                }
            }



            .zone_texte{
                min-width: 0;
                display: flex;
                flex-direction: column;
                margin: auto;
                flex-grow: 1;


                .texte{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90%; 
                }

                .box_p{
                    width: 90%;

                    p{
                        margin-top: 23px;
                        margin-left: 10px;
                        font-size: 14px;   
                        white-space: nowrap;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                }
               
        
                h3{
                    font-family: "roboto", sans-serif;
                    font-size: 17px;
                    margin-bottom: -20px;
                    margin-left: 10px;
                    margin-top: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .prix{
                margin-top: 10px;
                margin-right: -25px ;
                font-size: 14px;

                .prixT{
                    font-weight: bold;
                }
            }
        }
    }

    .block_button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        height: 120px;
        margin: auto;
        margin-top: 40px;

        .button
        {
            border-radius: 30px;
            margin-top: -70px;
            height: 50px;
            background: #{$color_button};
            background: #{$gradient};
            color: white;
            border:hidden;
            box-shadow: rgba(0, 0, 0, 0.136) 0px 5px 10px;
            
            &:hover{
                cursor: pointer;
                filter: brightness(1.1);
                box-shadow: rgba(0, 0, 0, 0.200) 3px 5px 10px;
            }
        }
    }
}

/* ----- Tablette -----*/

@media (min-width: 768px){
    body{
        width: 100%;
        margin: 0;

        .structure{
            display: flex;
            flex-direction: column;
        }

        h1{
            font-family: 'Shrikhand', cursive;
        }

        h4,h5,p{
            font-family: 'Roboto', sans-serif;
        }
    }

    .block_menu{
        .titre_principale{
            font-size: 16px;
        }

        .block{
            .zone_texte{
                .prix{
                    margin-right: -60px;
                }
            }
        }
    }
    
    .menu_image{
        width: 100%;
        height: 350px;
        margin-bottom: -40px;
        object-fit: cover;

        img{
            height: 100%;
            width: 100%;
            margin-bottom: -30px;
        }
    }
}

/* ------ desktop-version -----*/

@media (min-width: 992px){

    body{
        width: 100%;
        max-width: 992px;
        margin: auto;
        
 
        .structure{
            display: flex;
            flex-direction: column;
        }

        h1{
            font-family: 'Shrikhand', cursive;
        }

        h4,h5,p{
            font-family: 'Roboto', sans-serif;
        }
    }
     
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 15px;

        .omf_img{
            display: flex;
            justify-content: flex-end;
            width:60%;
            pointer-events: inherit;
        }

        img{
            height: 40px;
            margin-left: 95px;
            margin-top: 0px;
        }

        i{
            visibility: hidden;
        }
    
    }
    .menu_image{
        width: 100%;
        height: 400px;
        margin-bottom: -40px;

        img{
            height: 100%;
            width: 100%;
            margin-bottom: -30px;
            object-fit: cover;
        }
    }
}
