$violet:#9356DC;
$rose:#FF79DA;
$vert:#99E2D0;


$color_button:rgb(147,86,220);
$gradient:linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%, rgba(153,226,208,1) 100%);

$color_heart: rgb(153,226,208);
$gradient_heart: linear-gradient(0deg, rgba(153,226,208,1) 0%, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

    /*-----Structure de la page -----*/
    

body{
    position: absolute;
    height: auto;
    width: 100%;
    margin: 0;

    .structure{
        display: flex;
        flex-direction: column;
    }

    h2,h3{
    font-family:'Shrikhand', cursive ;
    color: black;
    }

    p{
        font-family: 'Roboto', sans-serif;
    }
}

/*----- header -----*/

header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100px;

    img{
        height: 35px;
    }   
}

/*----- Emplacement + bouton -----*/

.block1{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2;

    .emplacement{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: gainsboro;

        p{
            margin-right: 60px;
            margin-left: 10px;
        }
    }
    
    .block_button
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 300px;
        margin: auto;

        button{
            border: hidden;
            border-radius: 30px;
            height: 50px;
            color: white;         
            background:#{$color_button};
            background:#{$gradient}
        }
    }

}


/*----- Fonctionnement -----*/

.fonctionnement{
    margin-left: 15px;

    .block_fonctionnement{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 100%;
        margin-bottom: 50px;

        .flex{
            margin: 4px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #F2F2F2;
            margin-bottom: 20px;
            border-radius: 25px;
            width: 95%;
            height: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
            text-align: center;

            .fas{
                color: gray ;
            }

            h4{
                margin-right: 130px;
            }

            &:hover{
                i{
                    color: #9356DC;
                }
                
            }

            .numero{
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                background-color: #9356DC;
                color: white;
                margin-left: -11px;
            }

            div i{
                margin-left: 20px;
            }
        }
    }
}

/*----- Block restaurants -----*/

.block_restaurant
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 100%;
    height: auto;

    h2{
        margin-left: 20px;
        margin-top: 40px;
    }

    
    .Restaurants{
        margin: auto;
        width: 90%;
        height: auto;
        margin-bottom: 40px;
        border-radius: 15px;
        overflow: hidden;
        
        

        p{
            color: black;
        }

        .images{
            width: 100%;
            max-width: 900px;
            height: 100%;
            max-height: 350px;
            
            img{
                width: 100%;
                height: 250px;
                border-radius: 15px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                overflow: hidden;
                object-fit:cover;
            }

            #i1{

                background-image: url(images/restaurants/1.jpg);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                height: 250px;
                background-size:cover;
                border-radius: 15px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        
            #i2{
                background-image: url(images/restaurants/2.jpg);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                height: 250px;
                background-size: cover;
                border-radius: 15px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .new{
                margin-top: 15px;
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width:80px;
                height: 10%;
                background-color: #99E2D0;
                padding: 3px;
            }

          
        }

        .block_titre_restaurant{
            display: flex;
            flex-direction: row;
            justify-content:space-between ;
            height: 60px;
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            div{
                margin-top:-6px;
            }

            .titre_restaurant{
                margin-left: 10px;
                margin-bottom: -20px;

                
            }
            
            .texte_restaurant{
                margin-left: 10px;
            }

            

            .logo_coeur{
                width: 100px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                transition: all .2s;
                &:hover{
                    .far{
                        font-size: 25px;
                        background: #{$color_heart};
                        background: #{$gradient_heart};
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        
                    }

                    .fa{
                        &:hover{
                            line-height: 100%;
                            opacity: 1;
                        }
                    }
                    
                }

                .far {
                    color: black;
                    transition: opacity 500ms;
                    opacity: 1;
                    font-size: 25px;
                    opacity: 1;
                    -webkit-background-clip: text;
                    z-index: 0;

                    
                }

                .fa {
                    transition: line-height 1s 1ms;
                    opacity: 1;
                    margin-left: -25px;
                    font-size: 24px;
                    display: block;
                    background: #{$color_heart};
                    background: #{$gradient_heart};
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    line-height: 0%;
                    z-index: 1;
                }

                

                i{
                    font-size: 25px;
                    opacity: 1;

                    
                }
            }
        }
    }
}

@media (min-width: 768px){
    
    .block_restaurant{
        .Restaurants{
            .images{
                height: auto;

                #i1{
                    height: 320px;
                    max-height: 400px;
                }
            }
            img{
                height: 320px;
                
            }
           
        }
    }
}

/* ------ desktop-version -----*/

@media (min-width: 992px) {

   /*-----Structure de la page -----*/

   body{
       position: absolute;
       width: 100%;
       margin: 0;

       .structure{
           display: flex;
           flex-direction: column;
           width: 992px;
           margin: auto;
       }

       h2,h3{
        font-family:'Shrikhand', cursive ;
        color: black;
        }

        p{
            font-family: 'Roboto', sans-serif;
        }

   }
   
    /*----- header -----*/
   
   header
   {
       display: flex;
       justify-content:center;
       align-items: center;
       height: 100px;
       
       img{
           height: 35px;
       }
       
   }
   

    /*----- Emplacement + bouton -----*/
   
   .block1
   {
       display: flex;
       flex-direction: column;
       height: 300px;
       width: 100%;
       background-color: #F2F2F2;

       .emplacement{
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
           background-color: gainsboro;

           p{
               margin-right: 60px;
               margin-left: 10px;
           }
       }

       .block_button{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 70%;
           height: 109%;
           margin: auto;

           .button{
               border: hidden;
               border-radius: 30px;
               height: 50px;
               width: 200px;
               color: white;         
               background:#{$color_button};
               background:#{$gradient}

           }
       }

   }

   /*----- Fonctionnement -----*/

   .fonctionnement{
       margin-left: 15px;

       .block_fonctionnement{
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           height: 80px;
           width: 100%;
           margin-bottom: 50px;
           margin-left: 15px;

           .flex{
               width: 30%;
               flex-wrap: nowrap;

               h4{
                   width: 100%;
               }
           }
       }
   }
   
   /*----- Block restaurants -----*/

   .block_restaurant
   {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
       align-items: center;
       background-color: #F2F2F2;
       width: auto;
       height: 700px;
      

       h2{
           height: 25px;
           width: 100%;
           margin-left: 50px;
       }

        .Restaurants{
            width: 350px;
            height: 350px;
            border-radius: 15px;
            margin-bottom: -60px;
            overflow: hidden;

            .images{
                z-index: 2;
                width: 100%;
                height: 200px;

                #i1{
    
                    background-image: url(images/restaurants/1.jpg);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    border-radius: 15px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            
                #i2{
                    background-image: url(images/restaurants/2.jpg);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    border-radius: 15px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                .new{
                    display: flex;
                    justify-content: center;
                    width: 20%;
                    height: 10%;
                    background-color: #99E2D0;
                    margin-right: 20px;
                
                }

                img{
                    width: 100%;
                    height: 200px;
                    border-radius: 15px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    object-fit:cover;
                }
            }

            .block_titre_restaurant{
                display: flex;
                flex-direction: row;
                justify-content:space-between ;
                align-items: center;
                height: 60px;
                background-color: white;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                .titre_restaurant{
                    margin-top: 45px;
                    margin-left: 10px;
                    margin-bottom: -20px;
                }
                
                .texte_restaurant{
                    margin-left: 10px;
                    margin-bottom: 35px;
                }
                
                .logo_coeur
                {
                    margin-bottom: 15px;
                    margin-right: -10px;
            
                    i{
                        font-size: 25px;
                    }
                }
            }

    
        }
   }
}