body {
  position: absolute;
  width: 100%;
  margin: auto;
}
body .structure {
  display: flex;
  flex-direction: column;
}
body h1 {
  font-family: "Shrikhand", cursive;
}
body h4, body h5, body p {
  font-family: "Roboto", sans-serif;
}

header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 15px;
}
header .omf_img {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  pointer-events: none;
}
header img {
  height: 35px;
  margin-left: 110px;
  margin-top: 0px;
}
header i {
  margin-left: 15px;
  font-size: 23px;
  margin-top: 5px;
}

.menu_image {
  width: 100%;
  height: 260px;
  margin-bottom: -40px;
}
.menu_image img {
  height: 100%;
  width: 100%;
  margin-bottom: -30px;
  object-fit: cover;
}

.block_menu {
  width: auto;
  background-color: #F2F2F2;
  height: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.block_menu .titre_principale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
.block_menu .titre_principale .logo_coeur {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.2s;
}
.block_menu .titre_principale .logo_coeur:hover .far {
  font-size: 25px;
  background: #99e2d0;
  background: linear-gradient(0deg, #99e2d0 0%, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block_menu .titre_principale .logo_coeur:hover .fa:hover {
  line-height: 100%;
  opacity: 1;
}
.block_menu .titre_principale .logo_coeur .far {
  transition: opacity 500ms;
  opacity: 1;
  font-size: 25px;
  opacity: 1;
  -webkit-background-clip: text;
  z-index: 0;
}
.block_menu .titre_principale .logo_coeur .fa {
  transition: line-height 1s 1ms;
  opacity: 1;
  margin-left: -25px;
  font-size: 24px;
  display: block;
  background: #99e2d0;
  background: linear-gradient(0deg, #99e2d0 0%, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0%;
  z-index: 1;
}
.block_menu .titre_principale .logo_coeur i {
  font-size: 25px;
  opacity: 1;
}
.block_menu .blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.block_menu .blocks .sous_titre {
  display: flex;
  margin: auto;
  justify-content: flex-start;
  width: 99%;
  margin-top: 10px;
  margin-right: 150px;
  margin-bottom: 10px;
  margin-right: -10px;
}
.block_menu .blocks .sous_titre p {
  height: 22px;
  margin-bottom: 10px;
  border-bottom: solid 3px #99E2D0;
}
.block_menu .blocks .b1 {
  transition: 0s;
  animation: progressive_spawn 500ms 0.5s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b2 {
  transition: 0ms;
  animation: progressive_spawn 500ms 0.7s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b3 {
  transition: 0ms;
  animation: progressive_spawn 500ms 0.9s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b4 {
  transition: 0ms;
  animation: progressive_spawn 500ms 1.1s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b5 {
  transition: 0ms;
  animation: progressive_spawn 500ms 1.3s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b6 {
  transition: 0ms;
  animation: progressive_spawn 500ms 1.5s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b7 {
  transition: 0ms;
  animation: progressive_spawn 500ms 1.7s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b8 {
  transition: 0ms;
  animation: progressive_spawn 1s 1.9s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b9 {
  transition: 0ms;
  animation: progressive_spawn 500ms 2.1s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .b10 {
  transition: 0ms;
  animation: progressive_spawn 500ms 2.3s forwards;
}
@keyframes progressive_spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.block_menu .blocks .block {
  display: flex;
  width: 94%;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 60px;
  background-color: white;
  opacity: 0;
  overflow: hidden;
}
.block_menu .blocks .block:hover .animation {
  width: 15%;
}
.block_menu .blocks .block:hover .animation i {
  opacity: 1;
  animation: rotate 1s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.block_menu .blocks .block:hover .prix {
  right: 60px;
  margin-right: 10px;
  margin-left: 10px;
}
.block_menu .blocks .block .animation {
  transition: width 1s;
  width: 0%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  overflow: hidden;
  margin-left: 10px;
}
.block_menu .blocks .block .animation i {
  color: white;
  opacity: 1;
}
.block_menu .blocks .block .fc {
  display: flex;
}
.block_menu .blocks .block .zone_texte {
  border-bottom: solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: -5px;
  margin: auto;
}
.block_menu .blocks .block .zone_texte .texte {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.block_menu .blocks .block .zone_texte .texte div {
  width: 100%;
}
.block_menu .blocks .block .zone_texte p {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block_menu .blocks .block .zone_texte h4 {
  width: 100%;
  font-size: 17px;
  margin-bottom: -20px;
  margin-left: 10px;
  margin-top: 8px;
}
.block_menu .blocks .block .prix {
  margin-left: 2px;
  font-size: 17px;
  display: inline-flex;
  justify-content: flex-end;
}
.block_menu .block_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 120px;
  margin: auto;
  margin-top: 40px;
}
.block_menu .block_button .button {
  border-radius: 30px;
  margin-top: -70px;
  height: 50px;
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%, #99e2d0 100%);
  color: white;
  border: hidden;
}

@media (min-width: 768px) {
  body {
    position: absolute;
    width: 100%;
    margin: 0;
  }
  body .structure {
    display: flex;
    flex-direction: column;
  }
  body h1 {
    font-family: "Shrikhand", cursive;
  }
  body h4, body h5, body p {
    font-family: "Roboto", sans-serif;
  }

  .menu_image {
    width: 100%;
    height: 350px;
    margin-bottom: -40px;
    object-fit: cover;
  }
  .menu_image img {
    height: 100%;
    width: 100%;
    margin-bottom: -30px;
  }
}
/* ------ desktop-version -----*/
@media (min-width: 992px) {
  body {
    position: absolute;
    width: 100%;
  }
  body .structure {
    display: flex;
    flex-direction: column;
    width: 992px;
    margin: auto;
  }
  body h1 {
    font-family: "Shrikhand", cursive;
  }
  body h4, body h5, body p {
    font-family: "Roboto", sans-serif;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  header .omf_img {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    pointer-events: inherit;
  }
  header img {
    height: 40px;
    margin-left: 95px;
    margin-top: 0px;
  }
  header i {
    visibility: hidden;
  }

  .menu_image {
    width: 100%;
    height: 400px;
    margin-bottom: -40px;
  }
  .menu_image img {
    height: 100%;
    width: 100%;
    margin-bottom: -30px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=menu.css.map */
