@media (max-width: 992px) {
  /*-----Structure de la page -----*/
  body {
    position: absolute;
    width: 100%;
    margin: 0;
  }
  body .structure {
    display: flex;
    flex-direction: column;
  }

  /*----- header -----*/
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  header img {
    height: 35px;
    margin-left: 20px;
  }

  /*----- Emplacement + bouton -----*/
  .block1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2;
  }
  .block1 .emplacement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
  }
  .block1 .emplacement p {
    margin-right: 60px;
    margin-left: 10px;
  }
  .block1 .block_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 300px;
    margin: auto;
  }
  .block1 .block_button button {
    border-radius: 30px;
    height: 50px;
    size: 100%;
  }

  /*----- Fonctionnement -----*/
  .fonctionnement {
    margin-left: 15px;
  }
  .fonctionnement .block_fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 100%;
    margin-bottom: 50px;
  }
  .fonctionnement .block_fonctionnement .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px;
    border-radius: 25px;
    width: 95%;
  }
  .fonctionnement .block_fonctionnement .flex .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-left: -11px;
    margin-right: 20px;
    background-color: #9356DC;
    color: white;
  }
  .fonctionnement .block_fonctionnement .flex div i {
    margin-right: 40px;
  }

  /*----- Block restaurants -----*/
  .block_restaurant {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
  }
  .block_restaurant h2 {
    margin-left: 20px;
    margin-top: 40px;
  }
  .block_restaurant a .Restaurants {
    margin: auto;
    width: 90%;
    height: 270px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  .block_restaurant a .Restaurants .images {
    width: 100%;
    height: 200px;
  }
  .block_restaurant a .Restaurants .images #i1 {
    background-image: url(images/restaurants/1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .block_restaurant a .Restaurants .images #i2 {
    background-image: url(images/restaurants/2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .block_restaurant a .Restaurants .images .new {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    height: 10%;
    background-color: #99E2D0;
    padding: 3px;
  }
  .block_restaurant a .Restaurants .images img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .titre_restaurant {
    margin-left: 10px;
    margin-bottom: -15px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .texte_restaurant {
    margin-left: 10px;
    margin-bottom: 35px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .logo_coeur {
    margin-right: 30px;
    margin-bottom: 25px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .logo_coeur i {
    font-size: 25px;
  }
}
/* ------ desktop-version -----*/
@media (min-width: 992px) {
  /*-----Structure de la page -----*/
  body {
    position: absolute;
    width: 100%;
    margin: 0;
  }
  body .structure {
    display: flex;
    flex-direction: column;
    width: 992px;
    margin: auto;
  }

  /*----- header -----*/
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  header img {
    height: 35px;
    margin-left: 20px;
  }

  /*----- Emplacement + bouton -----*/
  .block1 {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background-color: #F2F2F2;
  }
  .block1 .emplacement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
  }
  .block1 .emplacement p {
    margin-right: 60px;
    margin-left: 10px;
  }
  .block1 .block_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 109%;
    margin: auto;
  }
  .block1 .block_button .button {
    border-radius: 30px;
    height: 50px;
    width: 200px;
  }

  /*----- Fonctionnement -----*/
  .fonctionnement {
    margin-left: 15px;
  }
  .fonctionnement .block_fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  .fonctionnement .block_fonctionnement .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px;
    border-radius: 25px;
    width: 30%;
  }
  .fonctionnement .block_fonctionnement .flex .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-left: -11px;
    margin-right: 20px;
    background-color: #9356DC;
    color: white;
  }
  .fonctionnement .block_fonctionnement .flex div i {
    margin-right: 40px;
  }

  /*----- Block restaurants -----*/
  .block_restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    width: auto;
    height: 700px;
  }
  .block_restaurant h2 {
    height: 25px;
    width: 100%;
    margin-left: 50px;
  }
  .block_restaurant a .Restaurants {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-bottom: -60px;
  }
  .block_restaurant a .Restaurants .images {
    z-index: 2;
    width: 100%;
    height: 200px;
  }
  .block_restaurant a .Restaurants .images #i1 {
    background-image: url(images/restaurants/1.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .block_restaurant a .Restaurants .images #i2 {
    background-image: url(images/restaurants/2.jpg);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .block_restaurant a .Restaurants .images .new {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 10%;
    background-color: #99E2D0;
    margin-right: 20px;
  }
  .block_restaurant a .Restaurants .images img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .titre_restaurant {
    margin-left: 10px;
    margin-bottom: -15px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .texte_restaurant {
    margin-left: 10px;
    margin-bottom: 35px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .logo_coeur {
    margin-right: 30px;
    margin-bottom: 25px;
  }
  .block_restaurant a .Restaurants .block_titre_restaurant .logo_coeur i {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
